---
import "@styles/global.css";
import "@fontsource/anton";
import "@fontsource/inter";
interface Props {
  title?: string;
  className?: any;
  barba: string;
  namespace: string;
}

const {
  title = "Home",
  className = "",
  barba,
  namespace,
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" data-barba="wrapper">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Hi, I am a developer and UX/ UI designer. My favorite part of my job is working with talented people to create remarkable creations through creative innovation. Through digital innovations, I hope to make the world a better place."
    />
    <title>{title}</title>
  </head>
  <body class={className} data-scroll-container>
    <div data-barba-container={barba} data-barba-namespace={namespace}>
      <slot />
    </div>
    <script>
      import Animate from "../scripts/layout.js";
      Animate();
    </script>
  </body>
</html>
